* text=auto eol=lf

# Treat bioinformatics binaries/text blobs as binary to avoid EOL munging
*.mmi -text
*.bam -text
*.bai -text
*.sam -text
*.fa -text
*.fasta -text
*.fai -text
*.fq -text
*.fastq -text
*.bed -text
*.bedpe -text
*.gz -text
*.tsv -text
*.csv -text

